.grid {
  display: grid;
  grid-template-columns: auto 15%;
  grid-template-rows: 50px 80px auto 50px;
}

header {
  background-color: #34264d;
  color: white;
  grid-column: span 2;
}

nav {
  background-color: #332053;
  color: white;
  font-size: x-large;
  grid-column: span 2;
  text-align: justify;
}
nav a{
  color:white;
  float: left;
  margin-top: 25px;
  margin-left: 13.5%
}

main {
  background-color: #302a40;
  color: white;
  font-size: x-large;
  font-family: "Times New Roman";
}

aside {
  background-color: #383346;
  color: white;
  font-size: 1.5em;
}

footer {
  background-color: #34264d;
  color: white;
  grid-column: span 2;
}

body {
  background-color: #10101b;
}

.Bild1 {
  width: 50%;
  height: auto;
}
.Bild2 {
  width: 33%;
  height: auto;
}

@media (max-width: 600px) {

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 140px auto 320px 50px;
}

header {
    background-color: #34264d;
    color: white;
    grid-column: span 1;
  }
  
  nav {
    background-color: #332053;
    color: white;
    font-size: x-large;
    text-align: justify;
    grid-column: span 1;
  }
  nav a{
    color:white;
    float: left;
    margin-top: 25px;
    margin-left: 2rem;
  }
  
  main {
    background-color: #302a40;
    color: white;
    font-family: "Times New Roman";
    grid-column: span 1;
  }
  
  aside {
    background-color: #383346;
    color: white;
    font-size: x-large;
    grid-column: span 1;
  }
  
  footer {
    background-color: #34264d;
    color: white;
    grid-column: span 1;
  }

  body {
    background-color: #10101b;
  }
  
  .Bild1 {
  width: 50%;
  height: auto;
  }
  
  .Bild2 {
  width: 33%;
  height: auto;
  }
}
